[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
beautifulsoup4 = "*"
lxml = "*"
pyttsx3 = "*"
gtts = "*"
asyncio = "*"
aiohttp = {extras = ["speedups"], version = "*"}
cchardet = "*"
aiodns = "*"
pygame = "*"
python-vlc = "*"
pydub = "*"
blessings = "*"
httpx = {extras = ["http2"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
