[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
beautifulsoup4 = "*"
lxml = "*"
pyttsx3 = "*"
gtts = "*"
asyncio = "*"
cchardet = "*"
pygame = "*"
python-vlc = "*"
pydub = "*"
httpx = {extras = ["http2"], version = "*"}
pyqt5 = "*"
rich = "*"
qasync = "*"
aiohttp = {extras = ["speedups"], version = "*"}

[dev-packages]
mypy = "*"
pyqt5-stubs = "*"
pydub-stubs = "*"

[requires]
python_version = "3.8"
